@font-face {
    font-family: 'IranSans';
    src: url("../backend/bower_components/font-awesome/fonts/IRANSansWeb/IRANSansWeb.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: 'IranSans';
    src: url("../backend/bower_components/font-awesome/fonts/IRANSansWeb/IRANSansWeb_UltraLight.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: 'IranSans';
    src: url("../backend/bower_components/font-awesome/fonts/IRANSansWeb/IRANSansWeb_Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: 'IranSans';
    src: url("../backend/bower_components/font-awesome/fonts/IRANSansWeb/IRANSansWeb_Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'IranSans';
    src: url("../backend/bower_components/font-awesome/fonts/IRANSansWeb/IRANSansWeb_Bold.woff") format("woff");
    font-weight: bold;
}

body, .wrapper, .skin-green-light, .h1, .h2, .h3, .h4, h1, h2, h3, h4, h5, h6 {
    font-family: 'IranSans', Roboto, Helvetica, Arial, sans-serif;
}

.main-panel {
    direction: rtl
}

.main-sidebar {
    right: 0;
    left: inherit
}

.preview-overlay precision-cursor {
    right: 0;
    left: inherit;
}

.content-wrapper {
    margin-right: 230px;
    margin-left: inherit;
}

.main-panel {
    direction: rtl
}

.main-header .navbar {
    margin-right: 230px;
}

.navbar-custom-menu {
    float: left;
}

.main-header {
    float: left;
}

.navbar-right {
    float: left;
}

.skin-green-light {
    display: flow-root;
}

.main-header .logo {
    float: left;
}

.mover-target direction-topLeft {
    right: -30px;
    left: inherit;
}

.highlight small-selection {
    right: 18.9833px;
    left: inherit;
}

.hover-highlight {
    right: 272.983px
}

.main-panel {
    direction: ltr;
}

.preview-overlay precision-cursor {
    display: flow-root;
    direction: rtl;
    float: right;
}
